.miniContact{
    background: rgb(26,26,26);
    background: linear-gradient(138deg, rgba(26,26,26,1) 10%, rgba(255,122,33,1) 23%, rgba(26,26,26,1) 42%, rgba(35,30,26,1) 58%, rgba(255,122,33,1) 77%, rgba(26,26,26,1) 90%);
    color: white;
    padding: 15px;
    display: flex;
    justify-content: center;
     justify-content: space-between;
    .wrapper{
        width: 180px;
        display: flex;
        align-items: center;
        
    }input{
            padding: 10px;
            border: none;
            border-radius: 5px 0 0 5px;
          
        }
        button{
            padding: 10px;
            border-radius: 0 5px 5px 0;
            color: white;
            background: #333;
            border: none;
        }
        .icons{
            display: flex;
            gap: 10px;
        }
}